<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384391252003-c22scue1tt9lfauf1p9mhna88etrbb18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384391252003-c22scue1tt9lfauf1p9mhna88etrbb18</string>
	<key>API_KEY</key>
	<string>AIzaSyBi4nXNc2BlWgUcaa6lQ3ej_LZ4ewgfQws</string>
	<key>GCM_SENDER_ID</key>
	<string>384391252003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wt.wetek.app</string>
	<key>PROJECT_ID</key>
	<string>hrm-etek</string>
	<key>STORAGE_BUCKET</key>
	<string>hrm-etek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384391252003:ios:dffb4dad2f67e902a20996</string>
</dict>
</plist>